@import "~nhsuk-frontend/packages/core/tools/_mixins.scss";
@import "~nhsuk-frontend/packages/core/settings/_colours.scss";
@import "~nhsuk-frontend/packages/core/settings/_globals.scss";

$app-login-button-color: $color_nhsuk-blue;
$app-login-button-hover-color: mix($color_nhsuk-blue, #003087, 50%);
$app-login-button-active-color: #003087;
$app-login-button-shadow-color: #003087;
$button-shadow-size: 4px;

.app-button--login {
  align-items: center;
  background-color: $app-login-button-color;
  box-shadow: 0 $button-shadow-size 0 $app-login-button-shadow-color;
  display: inline-flex;
  gap: 16px;

  &:hover {
    background-color: $app-login-button-hover-color;
  }

  &:focus {
    background: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
  }

  &:active {
    background: $app-login-button-active-color;
    box-shadow: none;
    color: $nhsuk-button-text-color;
    top: $button-shadow-size;
  }
}
